.container{
    background-color: rgb(174, 199, 64);
    margin: 0px;
    padding: 0px;
    height: 50vh;
}
.aside {
    background-color: rgba(68, 65, 65, 0.733);
    display: inline-block;
    width: 300px;
    height: 100%;
}

.dropdown-tree ol {
    list-style: none;
    padding: 0;
}

.dropdown-tree li {
    padding: 10px;
    position: relative;
}

.dropdown {
    display: none; 
    position: absolute;
    left: 100%; 
    top: 0;
    background-color: #444;
    padding: 10px;
    list-style: none;
    width: 200px;
}

.dropdown li {
    padding: 5px 0;
}

.dropdown a {
    color: white;
    text-decoration: none;
}

.list1:hover .dropdown {
    display: block; 
}

.list1 {
    cursor: pointer;
}

.dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation{
    background-color: rgba(111, 102, 194, 0.425); 
    display: flex;
    align-items: center;
    text-decoration: none;
    float: right;
    height: 50px;
    margin-right: 5px;

}
.menu{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 40px;

}

.div{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    white-space: 10px;


}
.box{
    border: 5px solid black;
    width: 155px;
    height: 155px;
    white-space: 10px;
    margin-left: 400px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;

}
h3{
    margin: 10px;
    text-align: center;
}
.footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding-top: 20px;
}