body {
    margin: 0;
    padding: 0;
    width: 100%;  
}
.main {
    background-color: aliceblue;

}
.navbar{
    background-color: green;
    height: 100px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 5px solid bisque;

}
.headerBody{
    margin: 0px;
    height: 50vh;
    background-color: red;
    text-align: center;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    border: 5px solid bisque;
}

.center{
    text-align: center;
    margin: 5px;
    padding-left: 900px;
}


.multipleDivs {
    display: flex;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    border: 5px solid black;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.div1, .div2, .hello1, .hello2, .hello3, .hello4 {
    margin: auto;
    padding: 0px;
    text-align: center;
}

.div1 {
    background-color: orange;
    display: inline-block;
    width: 50vw;
}

.div2 {
    background-color: purple;
    width: 50vw;
    float: none;
}
.div3 {
    background-color: rgb(64, 91, 109);
    width: 10vw;
    display: inline-block;
    text-align: center;
}

.hello1 {
    background-color: red;
    height: 400px;
    width: 400px;
}

.hello2 {
    background-color: blue;
    height: 400px;
    width: 400px;
}

.hello3 {
    background-color: yellow;
    height: 400px;
    width: 400px;
}

.hello4 {
    background-color: green;
    height: 400px;
    width: 400px;
}



.footer{
    height:100px;
    margin-bottom: 2px;
    display: flex;
    text-align: center;
    background-color: black;
    color: white;
}